/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.post-progress-bar {
    width: fit-content;
    height: 24px;
    background-color: #a1c0e3;
    border-radius: 40px;
    cursor: pointer;
    display: inline-block;
}
.post-progress {
    height: 100%;
    background-color: #2557ee;
    width: 0%;
    border-radius: 40px;
    transition: width 0.2s ease-in-out;
    text-align: center;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px 10px 2px 10px;
    font-size: 15px;
}
.text-complete{
    color: #fff;
}
@media only screen and (max-device-width: 480px) {
    .post-progress {
        white-space: normal;
        text-align: left;
    }
}