.post-progress-bar {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 22px;
    background-color: #e2e2e2;
    border-radius: 40px;
    width: fit-content;
    white-space: nowrap;
}
.post-progress-bar a,.wrap-countdown a {
    text-decoration: none !important;
    box-shadow: none;
}

.post-progress-bar a span {
    vertical-align: middle;
}

.post-progress {
    background-color: #1479B3;
    display: inline-block;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    padding: 4px 10px;
    font-size: 16px;
    max-height: 30px;
    overflow: hidden;
}

.wrap-countdown {
    height: 100%;
    background-color: #1479B3;
    width: 0%;
    border-radius: 40px;
    transition: width .2s ease-in-out;
    text-align: center;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 10px;
    font-size: 16px
}

.text-complete,.link-countdown,.wrap-countdown strong {
    color: #fff
}

.counter {
    padding-top: 5px;
}

i.material-icons {
    margin-top: 4px;
}
.wrap-countdown > a:hover {
    color: #fff !important;
    text-decoration: none !important;
}
.wrap-countdown {
    max-width: 100%;
}

@media only screen and (max-device-width: 480px) {
    .post-progress,.wrap-countdown {
        text-align: left
    }

    h3 a {
        display: block;
    }

    .post-progress-bar,.wrap-countdown {
        margin: 5px 0;
        display: block;
        width: fit-content;
    }
}