
.prep-request {
    position: relative;
    text-decoration: none;
    --progress: 0%;
    display: inline-block;
}

.prep-request.loading {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.prep-request::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress);
    background-color: #0f731c;
    z-index: 1;
    transition: width 0.1s linear;
    border-radius: 20px;
}

.prep-request .post-progress {
    position: relative;
    z-index: 2;
}

.loading .post-progress {
    padding: 10px;
    color: #fff;
}

.text-complete {
    color: #fff;
    font-size: 15px;
}

.igl-download-now {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.igl-download-now .prep-request {
    background-color: #0f731c;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.igl-download-now .post-progress {
    padding: 2px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.link-countdown {
    display: flex;
    background-color: #0f731c;
    color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.igl-download-now .prep-request.loading {
    background-color: #f0f0f0 !important;
}

  .list-link-redirect {
    margin: 25px 0;
}

.ilgl-other-version {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}
